@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');





/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1.6s ease ;
    
}
/*-- btn --*/


body {
        margin: 0px;
        padding: 0px;
    }
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Noto Serif TC', serif;
    }

    * {
        box-sizing: border-box
    }

    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        height: 40vh;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        height: 100%;
        display: none;
    }
    
    .mySlides img {
        height: 100%;
        object-fit: cover;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

     /* turnwhite animation */
    .turnblack {
        background: black;
        border: none;
        transition: all 0.6s ease !important;
    }
    
    .turnwhite {
        background: white;
        border: none;
        transition: all 0.6s ease !important; 
        
    }
    
    @keyframes turnwhite {
        from {
            background-color: black;
        }

        to {
           background-color: white;
        }
    }
    
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .7
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .7
        }

        to {
            opacity: 1
        }
    }

    .w3-third img {
        margin-bottom: -6px;
        opacity: 0.8;
        cursor: pointer
    }

    .w3-third img:hover {
        opacity: 1
    }

    /* Create a Parallax Effect */
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* First image (Logo. Full height) */
    .bgimg-1 {
        min-height: 100%;
    }

    /* Second image (Portfolio) */
    .bgimg-2 {
        min-height: 400px;
    }

    /* Third image (Contact) */
    .bgimg-3 {
        min-height: 400px;
    }

    .w3-wide {
        letter-spacing: 6px;
    }

    .w3-hover-opacity {
        cursor: pointer;
    }

    #mySidebar {
        transition: all 1s ease !important;
        box-shadow: 0 0 10 rgba(0,0,0,0.5)!important;
    }
     
    
    #mySidebar a.active {
        font-weight: 900!important;
    }

    .shadow {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    }
    
    .glass {
        -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      -moz-backdrop-filter: blur(6px);
    }
    
    .mycard .card-body {
        transform: translateY(30%);
        transition: all 1s ease !important;
    }
    
    .mycard:hover .card-body {
        transform: translateY(-1%) ;
        
    }
    
    
    .mycard .card-img-top {
        transform: translateY(10%);
        opacity: 0.5;
        transition: all 1s ease !important;
        filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3) );
        box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
    }
    
    .mycard:hover .card-img-top {
        transform: translateY(-1%);
        opacity: 1;
        transition: all 1s ease !important;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    }
    
    .mycard .btn {
        visibility: hidden;
        opacity: 0;
        transform: translateY(40%);
    }
    
    .mycard:hover .btn {
        visibility: visible;
        transform: translateY(-1%);
        opacity: 1;
        transition: all 1s ease !important;
    }
    
    #close {
        display: none;
    }

    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1600px) {

        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: scroll;
            min-height: 400px;
        }
    }
    
.mybtn {
    transition: all 0.7s ease;
    box-shadow: -2px -2px 2px rgba(255,255,255, 1 ),
        1px 1px 2px rgba(0,0,0,0.2),
        5px 5px 5px rgba(0,0,0,0.1),
        15px 15px 15px rgba(0,0,0,0.1)
        ;
}

.mybtn:hover {
    box-shadow:2px 2px 3px rgba(5,5,5,0.5) inset;
    transition: all 0.7s ease;
    
}

.btn-lg {
    border-width: 2px;
    border-style: groove;
}

.btn-primary {
    background-color: #6648b1;
    border: none;
    border-width: 1px;
}

.btn-primary:hover {
    background-color: #563d7c;
    border:none;
}

.carousel .btn{
    margin-top: .5rem;
}

.padding{
    padding-bottom: 2rem;
}

/*============= Main Page Heading =============*/
.welcome {
 width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome .btn {
    border-color:crimson;
    color: crimson;
}

.welcome .btn:hover {
    width: 250px;
    border-radius: 60px;
    border-color:crimson;
    background-color: crimson;
    color: white;
}


.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}


.fa-pencil-alt {
    color: #EB7A77;
}

.fa-puzzle-piece {
    color: #00AA90;
}

.fa-map-marker-alt {
    color: #58B2DC;
}

.fas{
    font-size: 4rem;
    margin: 1rem;
}




/*===== Footer =====*/
footer {
    background-color: #3f3f3f;
    color: #d1d1d1;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

hr.gray {
    border-top: 1px solid gray;
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}



hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;   
}

.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


.mycard {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    overflow-y: hidden;
}

.bgimg-2 span {
    background-color: transparent !important;
    font-size: 40px  !important;
    font-weight: 600;
    box-shadow: none !important;
}

.meimg {
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
        drop-shadow(3px 3px 2px rgba(0,0,0,0.3))
        drop-shadow(6px 6px 6px rgba(0,0,0,0.2))
        drop-shadow(15px 15px 15px rgba(0,0,0,0.2));
}

.form button:hover {
    transform: translateX(0%)!important;
    background-color: #373C38!important;
}

.form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.form button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.form button:hover span {
  padding-right: 25px;
}

.form button:hover span:after {
  opacity: 1;
  right: 0;
}


#status.success {
    background-color: rgba(211,250,153,0.9);
    animation: status;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

#status.error {
    background-color: rgba(255,140,138,0.9);
    color: white;
    animation: status;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    
    50% {
        opacity: 1;
        pointer-events: all;
    }
    
    90% {
        opacity: 0.9;
        pointer-events: all;
    }
    
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

footer i {
    padding: 5px;
}

footer {
    background: linear-gradient(#434343,#1C1C1C)!important;
    
}

footer:hover {
    opacity: 1;
    background: linear-gradient(#1C1C1C,#080808)!important;
}

header {
    background-color: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px)!important;
      backdrop-filter: blur(10px)!important;
      -moz-backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header a:hover {
    text-decoration: none!important;
    transform: translateX(0)!important;
    transition: none;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/*-- Bootstrap Mobile Gutter Fix --*/
 .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#row4 {
    padding-left: 2rem;
}


