 .slideanimate {
     visibility: hidden;
 }

 .slide {
     animation-name: slide;
     -webkit-animation-name: slide;
     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     visibility: visible;
     z-index: 79;
 }

 .slide2 {
         animation-name: slide2;
     -webkit-animation-name: slide2;
     animation-duration: 1s;
     -webkit-animation-duration: 1s;
     visibility: visible;
}
 @keyframes slide {
     0% {
         opacity: 0;
         transform: translateY(20%);
     }

     100% {
         opacity: 1;
         transform: translateY(0%);
     }
 }

 @-webkit-keyframes slide {
     0% {
         opacity: 0;
         -webkit-transform: translateY(20%);
     }

     100% {
         opacity: 1;
         -webkit-transform: translateY(0%);
     }
 }

 @keyframes slide2 {
     0% {
         opacity: 0;
         transform: translateY(20%);
     }

     100% {
         opacity: 1;
         transform: translateY(0%);
     }
 }

 @-webkit-keyframes slide2 {
     0% {
         opacity: 0;
         -webkit-transform: translateY(20%);
     }

     100% {
         opacity: 1;
         -webkit-transform: translateY(0%);
     }
 }

 .slideloop1 {
     animation: slideloop1 3s .3s infinite linear forwards;
 }

 .slideloop2 {
     animation: slideloop2 3s .3s infinite linear forwards;
 }

 .slideloop3 {
     animation: slideloop3 5s .3s infinite linear forwards;
 }

 .slideloop4 {
     animation: slideloop4 4s .3s infinite linear forwards;
 }

 .slideloop5 {
     animation: slideloop5 5s .3s infinite linear forwards;
 }

 .slideloop6 {
     animation: slideloop6 1.5s .3s infinite linear forwards;
 }

 .slideloop7 {
     animation: slideloop7 4s .3s infinite linear forwards;
 }

 .slideloop8 {
     animation: slideloop8 4s .3s infinite linear forwards;
 }

 .flickloop1 {
       animation-name: flick1;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
     animation-direction: alternate;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in;
     animation-delay: 1s;
     
 }
 .flickloop2 {
       animation-name: flick2;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
     animation-direction: alternate;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
     animation-delay: 1.5s;
     
 }

 .flickloop3 {
       animation-name: flick3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
     animation-delay: 3s;
     
 }


 @keyframes slideloop1 {
     0% {
         opacity: 1;

     }

     50% {
         opacity: 0.6;
     }

     100% {
         opacity: 1;

     }
 }

 @keyframes slideloop2 {
     0% {
         opacity: 1;

     }

     50% {
         opacity: 0.2
     }

     100% {
         opacity: 1;

     }
 }

 @keyframes slideloop3 {
     0% {
         opacity: 0.7;
         transform: translateX(0%);
     }

     50% {
         opacity: 0.3;
         transform: translateX(-4%)
     }

     100% {
         opacity: 0.7;
         transform: translateX(0%);
     }
 }

 @keyframes slideloop4 {
     0% {
         opacity: 0.6;
         transform: translateX(0%);
     }

     50% {
         opacity: 0.1;
         transform: translateX(3%)
     }

     100% {
         opacity: 0.6;
         transform: translateX(0%);
     }
 }

 @keyframes slideloop5 {
     0% {
         opacity: 0.4;
     }

     50% {
         opacity: 1;
     }

     100% {
         opacity: 0.4;
     }
 }

 @keyframes slideloop6 {
     0% {
         opacity: 0.2;
         transform: translateY(0%);
     }

     50% {
         opacity: 0.5;
         transform: translateY(39%)
     }

     100% {
         opacity: 1;
         transform: translateY(50%);
     }
 }

 @keyframes slideloop7 {
     0% {
         opacity: 0.9;
         transform: translateY(-3%);
     }
     
          25% {
         opacity: 1;
         transform: translateY(0%);
     }

     50% {
         opacity: 1;
         transform: translateY(3%)
     }
     
          75% {
         opacity: 1;
         transform: translateY(0%);
     }

     100% {
         opacity: 0.9;
         transform: translateY(-3%);
     }
 }

 @keyframes slideloop8 {
     0% {
         opacity: 0.3;
         filter: hue-rotate(0deg);
         transform: scaleX(0.8);
     }
     


     50% {
         opacity: 0.5;
         filter: hue-rotate(180deg);
         transform: scaleX(1);
     }
     

     100% {
         opacity: 0.3;
         filter: hue-rotate(0deg);
         transform: scaleX(0.8);
     }
 }

 @keyframes flick1 {
     0% {
         opacity: 0;
         transform: translateX(10%);
         transform: translateY(5%);
     }
     

       

     50% {
         opacity: 1;
        transform: translateX(-5%);
         filter: hue-rotate(180deg);
     }
     


     100% {
         opacity: 0;
         transform: translateX(0%);
     }
 }

 @keyframes flick2 {
     0% {
         opacity: 0;
         transform: translateX(10%);
     }
     

       

     50% {
         opacity: 1;
        transform: translateX(-5%);
         filter: hue-rotate(180deg);
     }
     


     100% {
         opacity: 0;
         transform: translateX(0%);
     }
 }

 @keyframes flick3 {
     0% {
         opacity: 0;
         
     }
     
          22% {
         opacity: 0;
         
     }
     
        25% {
         opacity: 0.5;
         
     }
     
               28% {
         opacity: 0;
         
     }
     

       

     92% {
         opacity: 0;
        
     }
     
          94% {
         opacity: 0.4;
        
     }
     


     100% {
         opacity: 0;
         
     }
 }

 .fullpage {
     visibility: hidden;
 }

.fp {
    padding: 0px;
    margin: 0px;
}

 .slideup {
     animation-name: slideup;
     animation-duration: 1s;
     animation-fill-mode: forwards;
     visibility: visible;
     position:fixed;
     top: 0px;
     z-index: 888;
 }

 .slideout {
     animation-name: slideout;
     animation-duration: 1s;
     animation-fill-mode: forwards;
     position: relative;
 }

 @keyframes slideup {
     0% {
         /*                opacity: 0;*/
         transform: translateY(70%);
     }

     100% {
         /*                opacity: 1;*/
         transform: translateY(0%);

     }
 }

 @keyframes slideout {
     0% {
         opacity: 1;
         transform: translateY(80%);
     }

     100% {
         opacity: 0;
         transform: translateY(0%);

     }
 }

 .hideanimate {
    display: none;
     transform: none;
 }

 .fadeins {
     animation-name: fadein;
     -webkit-animation-name: fadein;
     animation-duration: 1s;
          display: block;
          transform: none;
     animation-iteration-count: 1;
 }

 .fadeouts {
     animation-name: fadeout;
     -webkit-animation-name: fadeout;
     animation-duration: 1s;
          display: none;
          transform: none;
     animation-iteration-count: 1;
 }

 .fadeanimate {
                 visibility: hidden;
     transform: none;
 }

 .fadeanimate1 {
                 visibility: hidden;
     transform: none;
 }

 .fadein {
     animation-name: fadein;
     -webkit-animation-name: fadein;
     animation-duration: 1s;
          visibility: visible;
          transform: none;
     animation-iteration-count: 1;
 }

 .fadein1 {
       visibility: visible;
  opacity: 1;
  transition: visibility 0s 2s, opacity 2s linear;
     transform: none;
 }

.fadeout {
       visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
    transform: none;
    animation-iteration-count: 1;
 }

.fadeout2 {
     animation-name: fadeout2;
     animation-duration: 1s;
 }

 @keyframes fadein {
     0% {
         opacity: 0;

     }
     
     20% {
         opacity: 0.1;
     }
     
     40% {
         opacity: 0.25;
     }

     60% {
         opacity: 0.45;
     }
     
     80% {
         opacity: 0.7;
     }

     100% {
         opacity: 1;

     }
 }

 @-webkit-keyframes fadein {
     0% {
         opacity: 0;

     }
     
     20% {
         opacity: 0.1;
     }
     
     40% {
         opacity: 0.25;
     }

     60% {
         opacity: 0.45;
     }
     
     80% {
         opacity: 0.7;
     }

     100% {
         opacity: 1;

     }
 }

 @keyframes fadeout {
     0% {
         opacity: 1;

     }
     
     20% {
         opacity: 0.7;
     }
     
     40% {
         opacity: 0.45;
     }

     60% {
         opacity: 0.25;
     }
     
     80% {
         opacity: 0.1;
     }

     100% {
         opacity: 0;

     }
 }

@-webkit-keyframes fadeout {
     0% {
         opacity: 1;

     }
     
     20% {
         opacity: 0.7;
     }
     
     40% {
         opacity: 0.45;
     }

     60% {
         opacity: 0.25;
     }
     
     80% {
         opacity: 0.1;
     }

     100% {
         opacity: 0;

     }
 }

 @keyframes fadeout2 {
     0% {
         opacity: 1;
         transform: translateY(0%);
     }
     
     20% {
         opacity: 0.7;
        transform: translateY(-5%);
     }
     
     40% {
         opacity: 0.45;
         transform: translateY(-10%);
     }

     60% {
         opacity: 0.25;
         transform: translateY(-15%);
     }
     
     80% {
         opacity: 0.1;
         transform: translateY(-20%);
     }

     100% {
         opacity: 0;
         transform: translateY(-20%);

     }
 }

.shiftanimate1 {
     visibility: hidden;
 }

.shiftanimate2 {
     visibility: hidden;
 }

.shiftinright {
     animation-name: shiftinright;
     animation-duration: 2s;
    transition:  width 2s, height 2s, transform 2s;
      transition-duration: 2s;
  transition-timing-function: ease;
    visibility: visible;
    z-index: 10;
 }

.shiftinleft {
     animation-name: shiftinleft;
     animation-duration: 2s;
    transition:  width 2s, height 2s, transform 2s;
      transition-duration: 2s;
  transition-timing-function: ease;
        visibility: visible;
    z-index: 10;
 }

.shiftoutright {
     animation-name: shiftoutright;
     animation-duration: 2s;
    transition:  width 2s, height 2s, transform 3s;
      transition-duration: 2s;
    transform: translateX(100%);
  transition-timing-function: ease;
        visibility: visible;
 }

.shiftoutleft {
     animation-name:  shiftoutleft;
     animation-duration: 2s;
    transition:  width 2s, height 2s, transform 4s;
      transition-duration: 2s;
        transform: translateX(-100%);
  transition-timing-function: ease;
        visibility:visible;
 }

 @keyframes shiftinright {
     0% {
         opacity: 0;
         transform:translateX(30%);
     }
     
     20% {
         opacity: 0.1;
     }
     
     40% {
         opacity: 0.25;
     }

     60% {
         opacity: 0.45;
     }
     
     80% {
         opacity: 0.7;
     }

     100% {
         opacity: 1;
        transform:translateX(0%);
     }
 }

 @keyframes shiftinleft {
     0% {
         opacity: 0;
         transform:translateX(-30%);
     }
     
     20% {
         opacity: 0.1;
     }
     
     40% {
         opacity: 0.25;
     }

     60% {
         opacity: 0.45;
     }
     
     80% {
         opacity: 0.7;
     }

     100% {
         opacity: 1;
        transform:translateX(0%);
     }
 }

 @keyframes shiftoutright {
     0% {
         opacity: 1;
         transform:translateX(0%);
     }
     
     20% {
         opacity: 0.7;
     }
     
     40% {
         opacity: 0.45;
     }

     60% {
         opacity: 0.25;
     }
     
     80% {
         opacity: 0.1;
     }

     100% {
         opacity: 0;
        transform:translateX(30%);
     }
 }

 @keyframes shiftoutleft {
     0% {
         opacity: 1;
         transform:translateX(0%);
     }
     
     20% {
         opacity: 0.7;
     }
     
     40% {
         opacity: 0.45;
     }

     60% {
         opacity: 0.25;
     }
     
     80% {
         opacity: 0.1;
     }

     100% {
         opacity: 0;
        transform:translateX(-30%);
     }
 }

.fancy1 {
    visibility: hidden;
}

.fancy2 {
    visibility: hidden;
}

        .fancyin1 {
            animation-name: fancyin1;
            animation-duration: 2s;
            animation-fill-mode:forwards;
            transition-duration: 2s;
            visibility: visible;
        }

        .fancyin2 {
            animation-name: fancyin2;
            animation-duration: 2s;
            animation-fill-mode:forwards;
            transition-duration: 2s;
            visibility: visible;
        }

        .fancyout {
            animation-name: fancyout;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            position: relative;
        }

        @keyframes fancyin1 {
            0% {
                opacity: 0;
                transform: translateX(60%);
            }
            
             50% {
                 opacity: 1;
                 transform: translateX(6%);
            }
            100% {
                /*                opacity: 1;*/
                transform: translateX(0%);
                    
            }
        }

        @keyframes fancyin2 {
            0% {
                opacity: 0;
                transform: rotate(90deg);
            }
            
             50% {
                 opacity: 1;
                 transform: rotate(20deg);
            }
            100% {
                /*                opacity: 1;*/
                transform: rotate(0deg);
                    
            }
        }
        @keyframes fancyout {
            0% {
                opacity: 1;
                transform: translateX(8%);
            }
            100% {
                opacity: 0;
                transform: translateX(-70%);

            }
        }

.light {
    color: white;
    font-size: 14px;
}

.dark {
    color: black;
}


.ophalf {
    opacity: 0.5;
}

.bgfix {
                min-height: 1000px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
}

        .bg {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

.bgfix2 {
                min-height: 1000px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size:contain;
}

.bgfix3 {
                min-height: 1000px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size:auto;
}

.bgfix4 {
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size:contain;
}

        .bgfix1 {
            height: 100vh;
            background-attachment: fixed;
            background-position: center;
            background-size:auto;
            background-repeat: no-repeat;
            padding: 0px;
        }


 .section{
            height:100vh;
            
            
        }

body {
  position: relative;
}

        
        #list-example{
            top:0px;
            right:0px;
            width:50px;
        }
        #list-example:hover {
            top:0px;
            right:0px;
            width:50px;
            transition: 1s;
            transform: translateX(-8%);
        }

.list-group-item:hover {
    color:rgba(255,255,255,0.4);
    
}
        
        #list-example a{
            height:20vh;
            background-color:rgba(255,255,255,0.2);
            overflow-wrap: break-word;
            border:none;
        }
        
        #list-example a.active{
            background-color:rgba(255,255,255,0.5);
            color:#00ffff;
            text-shadow: 0px 0px 3px white;
        }



        #scene5-1 {
            background: rgb(13, 5, 38);
            background: linear-gradient(174deg, rgba(13, 5, 38, 1) 0%, rgba(25, 1, 65, 1) 0%, rgba(42, 13, 47, 0.9484726123595506) 100%);

        }


        #scene5to6 {
            background: rgb(13, 5, 38);
            background: linear-gradient(174deg, rgba(13, 5, 38, 1) 0%, rgba(25, 1, 65, 1) 0%, rgba(42, 13, 47, 0.9484726123595506) 100%);
        }

        #scene7 {
            background-image: url(assets/project/bg7.jpg);
            height: 100vh;
        }



        #scene9-1 {
            background-image: url(assets/project/bg9.jpg)
        }


 




        #2-manager,
        #4-cloth,
        #8-customer {
            position: absolute;
            z-index: 1;
        }

        .upbar,
        .downbar {
            position: absolute;
            z-index: 2;
        }

        .light {
            color: white;
            line-height: 30px ;
        }


        .walk {
            visibility: visible;
        }

        .walkin {
            animation-name: walkin;
            -webkit-animation-name: walkin;
            animation-timing-function: ease-in;
            -webkit-animation-timing-function: ease-in;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            -webkit-animation-duration: 2s;
            visibility: visible;
        }

        @keyframes walkin {
            from {
                left: 5%;
                width: 95%;
            }

            to {
                left: -5%;
                width: 100%;
            }
        }

        @-webkit-keyframes walkin {
            from {
                left: 5%;
                width: 95%;
            }

            to {
                left: -5%;
                width: 100%;
            }
        }

        .fadeanimatesub {
            visibility: hidden;
            transform: none;
        }

        .fadeanimatesub1 {
            visibility: hidden;
            transform: none;
        }


        .fadeinsub {
            animation-name: fadein;
            -webkit-animation-name: fadein;
            animation-duration: 0.8s;
            -webkit-animation-duration: 0.8s;
            visibility: visible;
            transform: none;
            animation-iteration-count: 1;
        }

        .fadeinsub1 {
            animation-name: fadein;
            -webkit-animation-name: fadein;
            animation-duration: 0.8s;
            -webkit-animation-duration: 0.8s;
            visibility: visible;
            transform: none;
            animation-iteration-count: 1;
        }





        .outside {
            visibility: visible;
        }

        .into {
            animation-name: into;
            -webkit-animation-name: into;
            animation-fill-mode: forwards;
            animation-duration: 1.5s;
            -webkit-animation-duration: 1.5s;
            visibility: visible;
        }


        @keyframes into {
            from {
                left: 50%;
            }

            to {
                left: 35%;
            }
        }


        @-webkit-keyframes into {
            from {
                left: 50%;
            }

            to {
                left: 35%;
            }
        }



        .stand {
            visibility: visible;
        }

        .dance {
            animation-name: dance;
            -webkit-animation-name: dance;
            animation-fill-mode: both;
            animation-duration: 0.5s;
            -webkit-animation-duration: 0.5s;
            visibility: visible;
        }

        @keyframes dance {
            from {
                top: 25%;
                left: 2%;
                width: 30vw;
            }

            to {
                top: 25%;
                left: 5%;
                width: 30vw;
            }
        }

        @-webkit-keyframes dance {
            from {
                top: 25%;
                left: 2%;
                width: 30vw;
            }

            to {
                top: 25%;
                left: 5%;
                width: 30vw;
            }
        }



        #hallway {
            position: absolute;
            left: 0;
            height: 50vh;
            width: 120vw;
            background: linear-gradient(90deg, black, lightgrey)
        }



        .anshide {
            display: none;
        }


        .intro {
            font-weight: 600;
        }

        .colorchange{
            filter: grayscale(100%);
            opacity：0.4;
        }
        
        .colorchange:hover{
            filter: none;
            opacity：1;
        }

.changeopc:hover {
    opacity: 0.4;
}

.door {
    width: 100%;
    padding: 0px;
}

/* Center the loader */
        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          width: 150px;
          height: 150px;
          margin: -75px 0 0 -75px;
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #3498db;
          width: 160px;
          height: 160px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1.5s
        }

        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 } 
          to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom { 
          from{ bottom:-100px; opacity:0 } 
          to{ bottom:0; opacity:1 }
        }

        #myDiv {
          display: none;
        }

.btn-outline-c {
    cursor: pointer;
    outline-color: rgba(164,48,252,0.5)!important;
    transition: 0.6s;
}

.btn-outline-c:hover {
    box-shadow: 0 0 5px rgba(164,48,252,0.5);
}
    

.lebal {
    position: relative;
    opacity: 0.8;
    background-color: rgba(255, 255, 255 ,0.4);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-color: transparent;
            box-shadow: 2px 1px 4px black;
    cursor: pointer;
    outline: none!important;
}



.lebal:hover {
    opacity: 1;
    transition: 1s;
    box-shadow: 2px 1px 4px black;
    box-shadow: 0px 0px 5px white;
    
}

.box {
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 255, 255 ,0.5);
    align-items: center;
    justify-content:flex-end;
    box-shadow: 1px 1px 8px black;
        box-shadow: 2px 1px 10px black;
}



.lebal p {
    width: 20px;
    color: white;
    line-height: 15px;
    margin: 0px;
    font-size: 10px;

}



.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
 -webkit-transition-duration: 0.55s;
  transition-duration: 0.55s;
  -webkit-transition-timing-function: ease-in-out ;
  transition-timing-function: ease-in-out ;
}

.hint {
    color: #3498db;
    text-decoration: none;
  position: relative;

}

.hint::after{
      border-radius: 1em;
  border-top: 2px solid #3498db;
  content: "";
  position: absolute;
    right: 0%;
    bottom: -1.5px;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

.hint:hover:after {
  right: 100%;
}

.hint::before{
    box-sizing: content-box;
    color: #28102d;
    text-shadow: none;
    padding: 5px;
    content: "";
    position: absolute;
    top: 0%;
    font-size: 10px;
    width: 300px;
    left: -140px;
    background-color: aliceblue;
    opacity: 0%;
    line-height: 14px;
    transition: all .8s cubic-bezier(0,.5,0,1);
}

.hint:hover:before {
    top:-200%;
    opacity: 85%;
     content: attr(data-text);
}

#ref ul {
    list-style: none;
    list-style-position: outside;
    margin-left: -30px;
}


#ref ul li::before{
     content: "－"; 
  padding-right: 4px;
  color:  #2F56B0; 
}

.preloader {
    height:100vh;
    width: 100vw;
    position: fixed;
    left:0px;
    top: 0px;
    z-index:1001;
    transition: 1s;
    background-color: #000000;
    opacity: 0.9;
    
}

.preloader::before{
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete::before {
    left: -50%;
}

.preloader::after{
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete::after {
    right: -50%;
}

.preloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.scrollhide {
    overflow-y: hidden;
}

.loader {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #04f0f0;
    animation: loading 2s linear infinite;
}

.loader::before {
    content: '';
    position: absolute;
    border: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  #04f0f0;
    animation: loadingBg 2s linear infinite;
    
}

 @keyframes loading {
     0% {
         transform: translate(-50%,-50%) rotate(0deg);
     }
     25% {
         transform: translate(-50%,-50%) rotate(180deg);
     }
     50% {
         transform: translate(-50%,-50%) rotate(180deg);
     }
     75% {
         transform: translate(-50%,-50%) rotate(360deg);
     }
     100% {
         transform: translate(-50%,-50%) rotate(360deg);
     }
     
     
     
        }

@keyframes loadingBg {
     0% {
         height: 0;
     }
     25% {
         height: 0;
     }
     50% {
         height: 100%;
     }
     75% {
         height: 100%;
     }
     100% {
         height: 0;
     }
     
     
     
        }



/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}